.fixed {
  position: fixed;
  z-index: 100;
  left: 20px;
  bottom: 20px;
  align-items: flex-start;
}

.block {
  align-items: flex-start;
}

.errorIcon {
  margin-top: 2px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 1.5rem;
}